In [1]:
import pandas as pd

# Importando arquivos

## Arquivo excel

In [2]:
alunos_antes_2010 = pd.read_excel('/content/matricula_alunos.xlsx', skiprows = 1)
alunos_antes_2010.columns = ['matricula_ou_siape', 'tipo_vinculo_usuario', 'curso']
alunos_depois_2010 = pd.read_excel('/content/matricula_alunos.xlsx',sheet_name = 'Após 2010', skiprows = 1)
alunos_depois_2010.columns = ['matricula_ou_siape','tipo_vinculo_usuario','curso']
alunos_excel = pd.concat([alunos_antes_2010, alunos_depois_2010],ignore_index = True)
alunos_excel

      matricula_ou_siape tipo_vinculo_usuario                     curso
0           1.900017e+08   ALUNO DE GRADUAÇÃO                MATEMÁTICA
1           1.990145e+08   ALUNO DE GRADUAÇÃO       CIÊNCIAS BIOLÓGICAS
2           1.997357e+08   ALUNO DE GRADUAÇÃO                MATEMÁTICA
3           1.998124e+08   ALUNO DE GRADUAÇÃO                    LETRAS
4           1.998237e+08   ALUNO DE GRADUAÇÃO                  ECOLOGIA
...                  ...                  ...                       ...
9995        2.015012e+10   ALUNO DE GRADUAÇÃO                    LETRAS
9996        2.015075e+09   ALUNO DE GRADUAÇÃO                     DANÇA
9997        2.016000e+10   ALUNO DE GRADUAÇÃO  ENGENHARIA DA COMPUTAÇÃO
9998        2.017009e+10   ALUNO DE GRADUAÇÃO           BIBLIOTECONOMIA
9999        2.018009e+10   ALUNO DE GRADUAÇÃO                     DANÇA

[10000 rows x 3 columns]

In [3]:
alunos_excel.tipo_vinculo_usuario.value_counts()

ALUNO DE GRADUAÇÃO    10000
Name: tipo_vinculo_usuario, dtype: int64

## Arquivo JSON

In [4]:
arquivo_json = pd.read_json('https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/raw/main/Dia_6-Novos_dados_novas_analises/Datasets/cadastro_alunos.json')
arquivo_json = pd.read_json(arquivo_json.registros[1])
arquivo_json.matricula_ou_siape = arquivo_json.matricula_ou_siape.astype('float')
arquivo_json.matricula_ou_siape = arquivo_json.matricula_ou_siape.astype('string')
arquivo_json

,matricula_ou_siape,tipo_vinculo_usuario,curso
0,2008112114.0,ALUNO DE PÓS-GRADUAÇÃO,CIÊNCIAS ODONTOLÓGICAS
1,2008106583.0,ALUNO DE PÓS-GRADUAÇÃO,ENGENHARIA DE SOFTWARE
2,2011101417.0,ALUNO DE PÓS-GRADUAÇÃO,ARQUITETURA E URBANISMO
3,2011113122.0,ALUNO DE PÓS-GRADUAÇÃO,FILOSOFIA
4,2010110903.0,ALUNO DE PÓS-GRADUAÇÃO,ARTES CÊNICAS
...,...,...,...
19435,20201013501.0,ALUNO DE PÓS-GRADUAÇÃO,GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO
19436,20201014062.0,ALUNO DE PÓS-GRADUAÇÃO,"CIÊNCIA, TECNOLOGIA E INOVAÇÃO"
19437,20201017690.0,ALUNO DE PÓS-GRADUAÇÃO,CIÊNCIAS DA SAÚDE
19438,20201014465.0,ALUNO DE PÓS-GRADUAÇÃO,DESIGN
19439,20201014993.0,ALUNO DE PÓS-GRADUAÇÃO,DESIGN

In [5]:
arquivo_json.dtypes

matricula_ou_siape      string
tipo_vinculo_usuario    object
curso                   object
dtype: object

# Empréstimos de 2017 a 2019 e 2022

## Selecionando os anos:

In [7]:
emprestimos = pd.read_parquet('/content/dados_dia_2.parquet')
emprestimos.head(3)

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,CDU
0,709684,L095049,NaT,2010-01-04 07:44:10.721,2010-01-05 16:26:12.662,2008023265.0,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,Ciências aplicadas
1,726965,L095049,2010-03-31 12:41:08.684,2010-03-01 12:40:56.212,2010-04-30 14:42:35.366,2009121584.0,ALUNO DE PÓS-GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,Ciências aplicadas
2,709685,L167050,NaT,2010-01-04 07:44:10.750,2010-01-12 07:34:13.934,2008023265.0,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas

In [8]:
emprestimos.query('tipo_vinculo_usuario == "ALUNO DE PÓS-GRADUAÇÃO"')

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,CDU
1,726965,L095049,2010-03-31 12:41:08.684,2010-03-01 12:40:56.212,2010-04-30 14:42:35.366,2009121584.0,ALUNO DE PÓS-GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,Ciências aplicadas
8,785791,L167050,NaT,2010-06-01 18:41:54.885,2010-07-01 21:19:58.000,2009102346.0,ALUNO DE PÓS-GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas
15,880244,L167050,NaT,2010-11-26 19:33:16.188,2010-12-14 18:52:15.000,2014124667.0,ALUNO DE PÓS-GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas
22,1041880,L167050,2011-08-21 11:47:13.866,2011-08-08 12:40:38.355,2011-09-05 11:06:34.000,2015102280.0,ALUNO DE PÓS-GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas
24,1082240,L167050,2011-10-20 08:58:05.351,2011-09-20 11:44:21.892,2011-11-22 16:36:13.000,2010120605.0,ALUNO DE PÓS-GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2072502,2988811,2015033958,2020-04-26 11:43:40.087,2020-03-17 16:20:01.906,2021-06-09 12:33:33.000,20161034609.0,ALUNO DE PÓS-GRADUAÇÃO,1211606,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,541,Matemática e ciências naturais
2072503,2988812,2016019436,2020-04-26 11:43:40.062,2020-03-17 16:20:01.992,2021-06-09 12:33:39.000,20161034609.0,ALUNO DE PÓS-GRADUAÇÃO,1235460,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,511,Matemática e ciências naturais
2072505,2988851,2014061383,NaT,2020-03-17 16:46:55.065,2021-10-18 11:33:35.000,20181021671.0,ALUNO DE PÓS-GRADUAÇÃO,1164548,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,657,Ciências aplicadas
2072508,2988891,2017008971,2020-04-19 16:42:15.125,2020-03-17 17:13:00.546,NaT,20181021822.0,ALUNO DE PÓS-GRADUAÇÃO,1314272,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,747,Belas artes
2072519,2989032,2018003324,NaT,2020-03-17 20:00:11.416,2021-08-30 13:29:44.000,20191021693.0,ALUNO DE PÓS-GRADUAÇÃO,1317173,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,784,Belas artes

In [9]:
emprestimos_pos = emprestimos.query('tipo_vinculo_usuario == "ALUNO DE PÓS-GRADUAÇÃO"')
emprestimos_pos.query('data_emprestimo > 2017')

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,CDU
62,2402570,L167050,2017-04-10 10:38:20.522,2017-03-28 09:04:09.781,2017-04-24 20:01:32,20171029059.0,ALUNO DE PÓS-GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas
125,2616635,2007027500,NaT,2018-03-16 10:01:49.789,2018-04-09 15:29:49,20181014102.0,ALUNO DE PÓS-GRADUAÇÃO,225646,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,686,Ciências aplicadas
210,2599800,L202783,NaT,2018-02-26 14:42:38.950,2018-03-06 17:52:19,20161026732.0,ALUNO DE PÓS-GRADUAÇÃO,274136,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,643,Ciências aplicadas
225,2621100,2007035128,2018-04-19 00:33:06.743,2018-03-21 13:38:16.932,2018-05-16 17:54:24,20181019459.0,ALUNO DE PÓS-GRADUAÇÃO,235887,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,Ciências aplicadas
226,2668516,2007035128,NaT,2018-05-25 19:01:42.414,2018-07-12 11:11:26,20171004425.0,ALUNO DE PÓS-GRADUAÇÃO,235887,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,Ciências aplicadas
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2072502,2988811,2015033958,2020-04-26 11:43:40.087,2020-03-17 16:20:01.906,2021-06-09 12:33:33,20161034609.0,ALUNO DE PÓS-GRADUAÇÃO,1211606,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,541,Matemática e ciências naturais
2072503,2988812,2016019436,2020-04-26 11:43:40.062,2020-03-17 16:20:01.992,2021-06-09 12:33:39,20161034609.0,ALUNO DE PÓS-GRADUAÇÃO,1235460,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,511,Matemática e ciências naturais
2072505,2988851,2014061383,NaT,2020-03-17 16:46:55.065,2021-10-18 11:33:35,20181021671.0,ALUNO DE PÓS-GRADUAÇÃO,1164548,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,657,Ciências aplicadas
2072508,2988891,2017008971,2020-04-19 16:42:15.125,2020-03-17 17:13:00.546,NaT,20181021822.0,ALUNO DE PÓS-GRADUAÇÃO,1314272,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,747,Belas artes
2072519,2989032,2018003324,NaT,2020-03-17 20:00:11.416,2021-08-30 13:29:44,20191021693.0,ALUNO DE PÓS-GRADUAÇÃO,1317173,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,784,Belas artes

In [10]:
emprestimos_pos = emprestimos_pos.query('data_emprestimo > 2017')
emprestimos_pos.query('data_emprestimo < 2020')

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,CDU
62,2402570,L167050,2017-04-10 10:38:20.522,2017-03-28 09:04:09.781,2017-04-24 20:01:32,20171029059.0,ALUNO DE PÓS-GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas
125,2616635,2007027500,NaT,2018-03-16 10:01:49.789,2018-04-09 15:29:49,20181014102.0,ALUNO DE PÓS-GRADUAÇÃO,225646,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,686,Ciências aplicadas
210,2599800,L202783,NaT,2018-02-26 14:42:38.950,2018-03-06 17:52:19,20161026732.0,ALUNO DE PÓS-GRADUAÇÃO,274136,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,643,Ciências aplicadas
225,2621100,2007035128,2018-04-19 00:33:06.743,2018-03-21 13:38:16.932,2018-05-16 17:54:24,20181019459.0,ALUNO DE PÓS-GRADUAÇÃO,235887,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,Ciências aplicadas
226,2668516,2007035128,NaT,2018-05-25 19:01:42.414,2018-07-12 11:11:26,20171004425.0,ALUNO DE PÓS-GRADUAÇÃO,235887,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,Ciências aplicadas
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2070809,2962364,2015004362,NaT,2019-12-27 13:14:14.359,2020-01-27 11:34:53,20171001906.0,ALUNO DE PÓS-GRADUAÇÃO,1188498,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,133,Filosofia e psicologia
2070812,2962388,2010054199,2020-01-27 17:58:56.462,2019-12-27 15:16:23.374,2020-02-14 18:12:39,20181000976.0,ALUNO DE PÓS-GRADUAÇÃO,818710,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,687,Ciências aplicadas
2070813,2962422,2008034542,NaT,2019-12-27 17:31:10.417,2020-02-07 14:04:23,20191008539.0,ALUNO DE PÓS-GRADUAÇÃO,249379,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,696,Ciências aplicadas
2070815,2962444,2015036955,2020-01-28 14:32:55.729,2019-12-30 10:23:43.568,2020-02-12 17:10:32,20191003612.0,ALUNO DE PÓS-GRADUAÇÃO,1226556,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,529,Matemática e ciências naturais
2070817,2962453,2016002671,NaT,2019-12-30 11:05:00.992,2020-01-15 15:14:48,20171025200.0,ALUNO DE PÓS-GRADUAÇÃO,1300596,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,834,Linguagem. Língua. Linguística

In [11]:
emprestimos_pos = emprestimos_pos.query('data_emprestimo < 2020')
emprestimos_pos.reset_index(drop = True, inplace = True)
emprestimos_pos.head(3)

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,CDU
0,2402570,L167050,2017-04-10 10:38:20.522,2017-03-28 09:04:09.781,2017-04-24 20:01:32,20171029059.0,ALUNO DE PÓS-GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas
1,2616635,2007027500,NaT,2018-03-16 10:01:49.789,2018-04-09 15:29:49,20181014102.0,ALUNO DE PÓS-GRADUAÇÃO,225646,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,686,Ciências aplicadas
2,2599800,L202783,NaT,2018-02-26 14:42:38.950,2018-03-06 17:52:19,20161026732.0,ALUNO DE PÓS-GRADUAÇÃO,274136,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,643,Ciências aplicadas

## Merge:

In [12]:
emprestimos_pos.loc[:,['matricula_ou_siape','data_emprestimo']]

      matricula_ou_siape         data_emprestimo
0          20171029059.0 2017-03-28 09:04:09.781
1          20181014102.0 2018-03-16 10:01:49.789
2          20161026732.0 2018-02-26 14:42:38.950
3          20181019459.0 2018-03-21 13:38:16.932
4          20171004425.0 2018-05-25 19:01:42.414
...                  ...                     ...
88285      20171001906.0 2019-12-27 13:14:14.359
88286      20181000976.0 2019-12-27 15:16:23.374
88287      20191008539.0 2019-12-27 17:31:10.417
88288      20191003612.0 2019-12-30 10:23:43.568
88289      20171025200.0 2019-12-30 11:05:00.992

[88290 rows x 2 columns]

In [13]:
emprestimos_pos = emprestimos_pos.loc[:,['matricula_ou_siape','data_emprestimo']]
cursos_e_anos_selecionados = emprestimos_pos.merge(arquivo_json)
cursos_e_anos_selecionados

,matricula_ou_siape,data_emprestimo,tipo_vinculo_usuario,curso
0,20171029059.0,2017-03-28 09:04:09.781,ALUNO DE PÓS-GRADUAÇÃO,FILOSOFIA
1,20171029059.0,2017-05-09 15:07:27.165,ALUNO DE PÓS-GRADUAÇÃO,FILOSOFIA
2,20171029059.0,2017-06-12 08:37:05.048,ALUNO DE PÓS-GRADUAÇÃO,FILOSOFIA
3,20171029059.0,2018-03-19 10:10:03.552,ALUNO DE PÓS-GRADUAÇÃO,FILOSOFIA
4,20171029059.0,2018-08-24 19:36:53.956,ALUNO DE PÓS-GRADUAÇÃO,FILOSOFIA
...,...,...,...,...
88224,20191026804.0,2019-10-16 21:16:07.744,ALUNO DE PÓS-GRADUAÇÃO,CIÊNCIA E ENGENHARIA DE MATERIAIS
88225,20184001860.0,2019-10-21 10:28:26.050,ALUNO DE PÓS-GRADUAÇÃO,CIÊNCIAS DA SAÚDE
88226,20194000060.0,2019-10-21 17:10:17.237,ALUNO DE PÓS-GRADUAÇÃO,ARQUITETURA E URBANISMO
88227,20181022300.0,2019-11-04 12:23:44.617,ALUNO DE PÓS-GRADUAÇÃO,ARQUITETURA E URBANISMO
88228,20191024069.0,2019-11-18 17:15:23.279,ALUNO DE PÓS-GRADUAÇÃO,CIÊNCIA E ENGENHARIA DE MATERIAIS

## Alterando a data:

In [14]:
cursos_e_anos_selecionados.data_emprestimo.dt.year

0        2017
1        2017
2        2017
3        2018
4        2018
         ...
88224    2019
88225    2019
88226    2019
88227    2019
88228    2019
Name: data_emprestimo, Length: 88229, dtype: int64

In [15]:
cursos_e_anos_selecionados.data_emprestimo = cursos_e_anos_selecionados.data_emprestimo.dt.year
cursos_e_anos_selecionados.iloc[:,[1,3]].value_counts().reset_index()

    data_emprestimo                                   curso     0
0              2018                  CIÊNCIAS ODONTOLÓGICAS  2540
1              2017                           ADMINISTRAÇÃO  2538
2              2017                  ENGENHARIA DE SOFTWARE  2477
3              2017                       CIÊNCIAS DA SAÚDE  2434
4              2017          CIÊNCIA, TECNOLOGIA E INOVAÇÃO  2415
5              2017                  CIÊNCIAS ODONTOLÓGICAS  2414
6              2017                        ENGENHARIA CIVIL  2399
7              2018          CIÊNCIA, TECNOLOGIA E INOVAÇÃO  2365
8              2018                           ADMINISTRAÇÃO  2316
9              2017       CIÊNCIA E ENGENHARIA DE MATERIAIS  2316
10             2017                              BIOQUÍMICA  2294
11             2017                                  DESIGN  2272
12             2017  GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO  2266
13             2018                  ENGENHARIA DE SOFTWARE  2222
14             2017                 ARQUITETURA E URBANISMO  2209
15             2017                          BIOINFORMÁTICA  2190
16             2017                               FILOSOFIA  2170
17             2019                  CIÊNCIAS ODONTOLÓGICAS  2134
18             2017                           ARTES CÊNICAS  2115
19             2018       CIÊNCIA E ENGENHARIA DE MATERIAIS  2110
20             2018                        ENGENHARIA CIVIL  2089
21             2018                           ARTES CÊNICAS  2082
22             2019                              BIOQUÍMICA  2057
23             2018                               FILOSOFIA  2048
24             2019          CIÊNCIA, TECNOLOGIA E INOVAÇÃO  2026
25             2019       CIÊNCIA E ENGENHARIA DE MATERIAIS  2008
26             2019                        ENGENHARIA CIVIL  1989
27             2018                       CIÊNCIAS DA SAÚDE  1986
28             2018                              BIOQUÍMICA  1944
29             2018                 ARQUITETURA E URBANISMO  1917
30             2018                          BIOINFORMÁTICA  1914
31             2018  GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO  1891
32             2019                  ENGENHARIA DE SOFTWARE  1887
33             2019                                  DESIGN  1841
34             2018                                  DESIGN  1838
35             2019                          BIOINFORMÁTICA  1825
36             2019                       CIÊNCIAS DA SAÚDE  1825
37             2019                 ARQUITETURA E URBANISMO  1818
38             2019                           ARTES CÊNICAS  1812
39             2019                               FILOSOFIA  1773
40             2019  GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO  1771
41             2019                           ADMINISTRAÇÃO  1692

In [16]:
cursos_e_anos = cursos_e_anos_selecionados.iloc[:,[1,3]].value_counts().reset_index()
cursos_e_anos.columns = ['Ano','Curso','Emprestimos']
cursos_e_anos

     Ano                                   Curso  Emprestimos
0   2018                  CIÊNCIAS ODONTOLÓGICAS         2540
1   2017                           ADMINISTRAÇÃO         2538
2   2017                  ENGENHARIA DE SOFTWARE         2477
3   2017                       CIÊNCIAS DA SAÚDE         2434
4   2017          CIÊNCIA, TECNOLOGIA E INOVAÇÃO         2415
5   2017                  CIÊNCIAS ODONTOLÓGICAS         2414
6   2017                        ENGENHARIA CIVIL         2399
7   2018          CIÊNCIA, TECNOLOGIA E INOVAÇÃO         2365
8   2018                           ADMINISTRAÇÃO         2316
9   2017       CIÊNCIA E ENGENHARIA DE MATERIAIS         2316
10  2017                              BIOQUÍMICA         2294
11  2017                                  DESIGN         2272
12  2017  GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO         2266
13  2018                  ENGENHARIA DE SOFTWARE         2222
14  2017                 ARQUITETURA E URBANISMO         2209
15  2017                          BIOINFORMÁTICA         2190
16  2017                               FILOSOFIA         2170
17  2019                  CIÊNCIAS ODONTOLÓGICAS         2134
18  2017                           ARTES CÊNICAS         2115
19  2018       CIÊNCIA E ENGENHARIA DE MATERIAIS         2110
20  2018                        ENGENHARIA CIVIL         2089
21  2018                           ARTES CÊNICAS         2082
22  2019                              BIOQUÍMICA         2057
23  2018                               FILOSOFIA         2048
24  2019          CIÊNCIA, TECNOLOGIA E INOVAÇÃO         2026
25  2019       CIÊNCIA E ENGENHARIA DE MATERIAIS         2008
26  2019                        ENGENHARIA CIVIL         1989
27  2018                       CIÊNCIAS DA SAÚDE         1986
28  2018                              BIOQUÍMICA         1944
29  2018                 ARQUITETURA E URBANISMO         1917
30  2018                          BIOINFORMÁTICA         1914
31  2018  GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO         1891
32  2019                  ENGENHARIA DE SOFTWARE         1887
33  2019                                  DESIGN         1841
34  2018                                  DESIGN         1838
35  2019                          BIOINFORMÁTICA         1825
36  2019                       CIÊNCIAS DA SAÚDE         1825
37  2019                 ARQUITETURA E URBANISMO         1818
38  2019                           ARTES CÊNICAS         1812
39  2019                               FILOSOFIA         1773
40  2019  GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO         1771
41  2019                           ADMINISTRAÇÃO         1692

## pivot_table:

In [17]:
emprestimos_curso_anos = cursos_e_anos.pivot_table(index = 'Curso', columns = 'Ano', values = 'Emprestimos')
emprestimos_curso_anos

Ano                                     2017  2018  2019
Curso
ADMINISTRAÇÃO                           2538  2316  1692
ARQUITETURA E URBANISMO                 2209  1917  1818
ARTES CÊNICAS                           2115  2082  1812
BIOINFORMÁTICA                          2190  1914  1825
BIOQUÍMICA                              2294  1944  2057
CIÊNCIA E ENGENHARIA DE MATERIAIS       2316  2110  2008
CIÊNCIA, TECNOLOGIA E INOVAÇÃO          2415  2365  2026
CIÊNCIAS DA SAÚDE                       2434  1986  1825
CIÊNCIAS ODONTOLÓGICAS                  2414  2540  2134
DESIGN                                  2272  1838  1841
ENGENHARIA CIVIL                        2399  2089  1989
ENGENHARIA DE SOFTWARE                  2477  2222  1887
FILOSOFIA                               2170  2048  1773
GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO  2266  1891  1771

# Importando previsão de 2022

In [18]:
pd.read_table('https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/raw/main/Dia_7-Apresentando_resultados_em_HTML/Dataset/previsao')

                            curso previsao_2022
0                            administracao 1905
1                  arquitetura_e_urbanismo 1896
2                            artes_cenicas 1920
3                           bioinformatica 2302
4                               bioquimica 2090
5        ciencia_e_engenharia_de_materiais 2010
6            ciencia_tecnologia_e_inovacao 1960
7                        ciencias_da_saude 1730
8                   ciencias_odontologicas 2405
9                                   design 1900
10                        engenharia_civil 1920
11                     engenharia_software 1890
12                               filosofia 1903
13  gestao_da_informacao_e_do_conhecimento 1855

In [19]:
previsao_2022 = pd.read_table('https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/raw/main/Dia_7-Apresentando_resultados_em_HTML/Dataset/previsao')
previsao_2022['curso previsao_2022'].str.split(' ')

0                              [administracao, 1905]
1                    [arquitetura_e_urbanismo, 1896]
2                              [artes_cenicas, 1920]
3                             [bioinformatica, 2302]
4                                 [bioquimica, 2090]
5          [ciencia_e_engenharia_de_materiais, 2010]
6              [ciencia_tecnologia_e_inovacao, 1960]
7                          [ciencias_da_saude, 1730]
8                     [ciencias_odontologicas, 2405]
9                                     [design, 1900]
10                          [engenharia_civil, 1920]
11                       [engenharia_software, 1890]
12                                 [filosofia, 1903]
13    [gestao_da_informacao_e_do_conhecimento, 1855]
Name: curso previsao_2022, dtype: object

In [20]:
previsao_2022 = previsao_2022['curso previsao_2022'].str.split(' ', expand = True)
previsao_2022

                                         0     1
0                            administracao  1905
1                  arquitetura_e_urbanismo  1896
2                            artes_cenicas  1920
3                           bioinformatica  2302
4                               bioquimica  2090
5        ciencia_e_engenharia_de_materiais  2010
6            ciencia_tecnologia_e_inovacao  1960
7                        ciencias_da_saude  1730
8                   ciencias_odontologicas  2405
9                                   design  1900
10                        engenharia_civil  1920
11                     engenharia_software  1890
12                               filosofia  1903
13  gestao_da_informacao_e_do_conhecimento  1855

In [21]:
previsao_2022.rename(columns = {0 : 'Curso', 1 : 'Emprestimos'}, inplace = True)
previsao_2022

                                     Curso Emprestimos
0                            administracao        1905
1                  arquitetura_e_urbanismo        1896
2                            artes_cenicas        1920
3                           bioinformatica        2302
4                               bioquimica        2090
5        ciencia_e_engenharia_de_materiais        2010
6            ciencia_tecnologia_e_inovacao        1960
7                        ciencias_da_saude        1730
8                   ciencias_odontologicas        2405
9                                   design        1900
10                        engenharia_civil        1920
11                     engenharia_software        1890
12                               filosofia        1903
13  gestao_da_informacao_e_do_conhecimento        1855

# Merge da pivot_table

In [22]:
emprestimos_curso_anos.index

Index(['ADMINISTRAÇÃO', 'ARQUITETURA E URBANISMO', 'ARTES CÊNICAS',
       'BIOINFORMÁTICA', 'BIOQUÍMICA', 'CIÊNCIA E ENGENHARIA DE MATERIAIS',
       'CIÊNCIA, TECNOLOGIA E INOVAÇÃO', 'CIÊNCIAS DA SAÚDE',
       'CIÊNCIAS ODONTOLÓGICAS', 'DESIGN', 'ENGENHARIA CIVIL',
       'ENGENHARIA DE SOFTWARE', 'FILOSOFIA',
       'GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO'],
      dtype='object', name='Curso')

In [23]:
previsao_2022['Curso']

0                              administracao
1                    arquitetura_e_urbanismo
2                              artes_cenicas
3                             bioinformatica
4                                 bioquimica
5          ciencia_e_engenharia_de_materiais
6              ciencia_tecnologia_e_inovacao
7                          ciencias_da_saude
8                     ciencias_odontologicas
9                                     design
10                          engenharia_civil
11                       engenharia_software
12                                 filosofia
13    gestao_da_informacao_e_do_conhecimento
Name: Curso, dtype: object

In [24]:
previsao_2022['Curso'] = emprestimos_curso_anos.index
previsao_2022

                                     Curso Emprestimos
0                            ADMINISTRAÇÃO        1905
1                  ARQUITETURA E URBANISMO        1896
2                            ARTES CÊNICAS        1920
3                           BIOINFORMÁTICA        2302
4                               BIOQUÍMICA        2090
5        CIÊNCIA E ENGENHARIA DE MATERIAIS        2010
6           CIÊNCIA, TECNOLOGIA E INOVAÇÃO        1960
7                        CIÊNCIAS DA SAÚDE        1730
8                   CIÊNCIAS ODONTOLÓGICAS        2405
9                                   DESIGN        1900
10                        ENGENHARIA CIVIL        1920
11                  ENGENHARIA DE SOFTWARE        1890
12                               FILOSOFIA        1903
13  GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO        1855

In [25]:
previsao_2022.iloc[:, 1]

0     1905
1     1896
2     1920
3     2302
4     2090
5     2010
6     1960
7     1730
8     2405
9     1900
10    1920
11    1890
12    1903
13    1855
Name: Emprestimos, dtype: object

In [26]:
emprestimos_curso_anos[2022] = previsao_2022.iloc[:, 1]
emprestimos_curso_anos

Ano                                     2017  2018  2019 2022
Curso
ADMINISTRAÇÃO                           2538  2316  1692  NaN
ARQUITETURA E URBANISMO                 2209  1917  1818  NaN
ARTES CÊNICAS                           2115  2082  1812  NaN
BIOINFORMÁTICA                          2190  1914  1825  NaN
BIOQUÍMICA                              2294  1944  2057  NaN
CIÊNCIA E ENGENHARIA DE MATERIAIS       2316  2110  2008  NaN
CIÊNCIA, TECNOLOGIA E INOVAÇÃO          2415  2365  2026  NaN
CIÊNCIAS DA SAÚDE                       2434  1986  1825  NaN
CIÊNCIAS ODONTOLÓGICAS                  2414  2540  2134  NaN
DESIGN                                  2272  1838  1841  NaN
ENGENHARIA CIVIL                        2399  2089  1989  NaN
ENGENHARIA DE SOFTWARE                  2477  2222  1887  NaN
FILOSOFIA                               2170  2048  1773  NaN
GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO  2266  1891  1771  NaN

In [27]:
emprestimos_curso_anos.replace(emprestimos_curso_anos[2022], previsao_2022['Emprestimos'])

Ano                                     2017  2018  2019 2022
Curso
ADMINISTRAÇÃO                           2538  2316  1692  NaN
ARQUITETURA E URBANISMO                 2209  1917  1818  NaN
ARTES CÊNICAS                           2115  2082  1812  NaN
BIOINFORMÁTICA                          2190  1914  1825  NaN
BIOQUÍMICA                              2294  1944  2057  NaN
CIÊNCIA E ENGENHARIA DE MATERIAIS       2316  2110  2008  NaN
CIÊNCIA, TECNOLOGIA E INOVAÇÃO          2415  2365  2026  NaN
CIÊNCIAS DA SAÚDE                       2434  1986  1825  NaN
CIÊNCIAS ODONTOLÓGICAS                  2414  2540  2134  NaN
DESIGN                                  2272  1838  1841  NaN
ENGENHARIA CIVIL                        2399  2089  1989  NaN
ENGENHARIA DE SOFTWARE                  2477  2222  1887  NaN
FILOSOFIA                               2170  2048  1773  NaN
GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO  2266  1891  1771  NaN

## Ok, não deu certo. Qual a saída que encontrei:

In [28]:
cursos_e_anos.head()

    Ano                           Curso  Emprestimos
0  2018          CIÊNCIAS ODONTOLÓGICAS         2540
1  2017                   ADMINISTRAÇÃO         2538
2  2017          ENGENHARIA DE SOFTWARE         2477
3  2017               CIÊNCIAS DA SAÚDE         2434
4  2017  CIÊNCIA, TECNOLOGIA E INOVAÇÃO         2415

In [29]:
previsao_2022.head()

                     Curso Emprestimos
0            ADMINISTRAÇÃO        1905
1  ARQUITETURA E URBANISMO        1896
2            ARTES CÊNICAS        1920
3           BIOINFORMÁTICA        2302
4               BIOQUÍMICA        2090

In [30]:
previsao_2022['Ano'] = 2022
previsao_2022

                                     Curso Emprestimos   Ano
0                            ADMINISTRAÇÃO        1905  2022
1                  ARQUITETURA E URBANISMO        1896  2022
2                            ARTES CÊNICAS        1920  2022
3                           BIOINFORMÁTICA        2302  2022
4                               BIOQUÍMICA        2090  2022
5        CIÊNCIA E ENGENHARIA DE MATERIAIS        2010  2022
6           CIÊNCIA, TECNOLOGIA E INOVAÇÃO        1960  2022
7                        CIÊNCIAS DA SAÚDE        1730  2022
8                   CIÊNCIAS ODONTOLÓGICAS        2405  2022
9                                   DESIGN        1900  2022
10                        ENGENHARIA CIVIL        1920  2022
11                  ENGENHARIA DE SOFTWARE        1890  2022
12                               FILOSOFIA        1903  2022
13  GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO        1855  2022

In [31]:
previsao_2022 = previsao_2022[['Ano', 'Curso', 'Emprestimos']]
previsao_2022

     Ano                                   Curso Emprestimos
0   2022                           ADMINISTRAÇÃO        1905
1   2022                 ARQUITETURA E URBANISMO        1896
2   2022                           ARTES CÊNICAS        1920
3   2022                          BIOINFORMÁTICA        2302
4   2022                              BIOQUÍMICA        2090
5   2022       CIÊNCIA E ENGENHARIA DE MATERIAIS        2010
6   2022          CIÊNCIA, TECNOLOGIA E INOVAÇÃO        1960
7   2022                       CIÊNCIAS DA SAÚDE        1730
8   2022                  CIÊNCIAS ODONTOLÓGICAS        2405
9   2022                                  DESIGN        1900
10  2022                        ENGENHARIA CIVIL        1920
11  2022                  ENGENHARIA DE SOFTWARE        1890
12  2022                               FILOSOFIA        1903
13  2022  GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO        1855

In [32]:
cursos_e_anos_com_2022 = pd.concat([cursos_e_anos, previsao_2022], ignore_index = True)
cursos_e_anos_com_2022

     Ano                                   Curso Emprestimos
0   2018                  CIÊNCIAS ODONTOLÓGICAS        2540
1   2017                           ADMINISTRAÇÃO        2538
2   2017                  ENGENHARIA DE SOFTWARE        2477
3   2017                       CIÊNCIAS DA SAÚDE        2434
4   2017          CIÊNCIA, TECNOLOGIA E INOVAÇÃO        2415
5   2017                  CIÊNCIAS ODONTOLÓGICAS        2414
6   2017                        ENGENHARIA CIVIL        2399
7   2018          CIÊNCIA, TECNOLOGIA E INOVAÇÃO        2365
8   2018                           ADMINISTRAÇÃO        2316
9   2017       CIÊNCIA E ENGENHARIA DE MATERIAIS        2316
10  2017                              BIOQUÍMICA        2294
11  2017                                  DESIGN        2272
12  2017  GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO        2266
13  2018                  ENGENHARIA DE SOFTWARE        2222
14  2017                 ARQUITETURA E URBANISMO        2209
15  2017                          BIOINFORMÁTICA        2190
16  2017                               FILOSOFIA        2170
17  2019                  CIÊNCIAS ODONTOLÓGICAS        2134
18  2017                           ARTES CÊNICAS        2115
19  2018       CIÊNCIA E ENGENHARIA DE MATERIAIS        2110
20  2018                        ENGENHARIA CIVIL        2089
21  2018                           ARTES CÊNICAS        2082
22  2019                              BIOQUÍMICA        2057
23  2018                               FILOSOFIA        2048
24  2019          CIÊNCIA, TECNOLOGIA E INOVAÇÃO        2026
25  2019       CIÊNCIA E ENGENHARIA DE MATERIAIS        2008
26  2019                        ENGENHARIA CIVIL        1989
27  2018                       CIÊNCIAS DA SAÚDE        1986
28  2018                              BIOQUÍMICA        1944
29  2018                 ARQUITETURA E URBANISMO        1917
30  2018                          BIOINFORMÁTICA        1914
31  2018  GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO        1891
32  2019                  ENGENHARIA DE SOFTWARE        1887
33  2019                                  DESIGN        1841
34  2018                                  DESIGN        1838
35  2019                          BIOINFORMÁTICA        1825
36  2019                       CIÊNCIAS DA SAÚDE        1825
37  2019                 ARQUITETURA E URBANISMO        1818
38  2019                           ARTES CÊNICAS        1812
39  2019                               FILOSOFIA        1773
40  2019  GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO        1771
41  2019                           ADMINISTRAÇÃO        1692
42  2022                           ADMINISTRAÇÃO        1905
43  2022                 ARQUITETURA E URBANISMO        1896
44  2022                           ARTES CÊNICAS        1920
45  2022                          BIOINFORMÁTICA        2302
46  2022                              BIOQUÍMICA        2090
47  2022       CIÊNCIA E ENGENHARIA DE MATERIAIS        2010
48  2022          CIÊNCIA, TECNOLOGIA E INOVAÇÃO        1960
49  2022                       CIÊNCIAS DA SAÚDE        1730
50  2022                  CIÊNCIAS ODONTOLÓGICAS        2405
51  2022                                  DESIGN        1900
52  2022                        ENGENHARIA CIVIL        1920
53  2022                  ENGENHARIA DE SOFTWARE        1890
54  2022                               FILOSOFIA        1903
55  2022  GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO        1855

In [33]:
cursos_e_anos_pivot = cursos_e_anos_com_2022.pivot_table(index = 'Curso', columns = 'Ano', values = 'Emprestimos')
cursos_e_anos_pivot

Ano                                       2017    2018    2019    2022
Curso
ADMINISTRAÇÃO                           2538.0  2316.0  1692.0  1905.0
ARQUITETURA E URBANISMO                 2209.0  1917.0  1818.0  1896.0
ARTES CÊNICAS                           2115.0  2082.0  1812.0  1920.0
BIOINFORMÁTICA                          2190.0  1914.0  1825.0  2302.0
BIOQUÍMICA                              2294.0  1944.0  2057.0  2090.0
CIÊNCIA E ENGENHARIA DE MATERIAIS       2316.0  2110.0  2008.0  2010.0
CIÊNCIA, TECNOLOGIA E INOVAÇÃO          2415.0  2365.0  2026.0  1960.0
CIÊNCIAS DA SAÚDE                       2434.0  1986.0  1825.0  1730.0
CIÊNCIAS ODONTOLÓGICAS                  2414.0  2540.0  2134.0  2405.0
DESIGN                                  2272.0  1838.0  1841.0  1900.0
ENGENHARIA CIVIL                        2399.0  2089.0  1989.0  1920.0
ENGENHARIA DE SOFTWARE                  2477.0  2222.0  1887.0  1890.0
FILOSOFIA                               2170.0  2048.0  1773.0  1903.0
GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO  2266.0  1891.0  1771.0  1855.0

# Calculando percentual

## Criando uma função:

In [34]:
def calculo_percentual(A, B):
  resultado = round((B * 100 / A) - 100, 2)
  return resultado

In [35]:
calculo_percentual(2538, 2316)

-8.75

In [36]:
# 2017
cursos_e_anos_pivot.iloc[:,0]

Curso
ADMINISTRAÇÃO                             2538.0
ARQUITETURA E URBANISMO                   2209.0
ARTES CÊNICAS                             2115.0
BIOINFORMÁTICA                            2190.0
BIOQUÍMICA                                2294.0
CIÊNCIA E ENGENHARIA DE MATERIAIS         2316.0
CIÊNCIA, TECNOLOGIA E INOVAÇÃO            2415.0
CIÊNCIAS DA SAÚDE                         2434.0
CIÊNCIAS ODONTOLÓGICAS                    2414.0
DESIGN                                    2272.0
ENGENHARIA CIVIL                          2399.0
ENGENHARIA DE SOFTWARE                    2477.0
FILOSOFIA                                 2170.0
GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO    2266.0
Name: 2017, dtype: float64

In [37]:
# 2018
cursos_e_anos_pivot.iloc[:,1]

Curso
ADMINISTRAÇÃO                             2316.0
ARQUITETURA E URBANISMO                   1917.0
ARTES CÊNICAS                             2082.0
BIOINFORMÁTICA                            1914.0
BIOQUÍMICA                                1944.0
CIÊNCIA E ENGENHARIA DE MATERIAIS         2110.0
CIÊNCIA, TECNOLOGIA E INOVAÇÃO            2365.0
CIÊNCIAS DA SAÚDE                         1986.0
CIÊNCIAS ODONTOLÓGICAS                    2540.0
DESIGN                                    1838.0
ENGENHARIA CIVIL                          2089.0
ENGENHARIA DE SOFTWARE                    2222.0
FILOSOFIA                                 2048.0
GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO    1891.0
Name: 2018, dtype: float64

In [38]:
calculo_percentual(cursos_e_anos_pivot.iloc[:,0], cursos_e_anos_pivot.iloc[:,1])

Curso
ADMINISTRAÇÃO                             -8.75
ARQUITETURA E URBANISMO                  -13.22
ARTES CÊNICAS                             -1.56
BIOINFORMÁTICA                           -12.60
BIOQUÍMICA                               -15.26
CIÊNCIA E ENGENHARIA DE MATERIAIS         -8.89
CIÊNCIA, TECNOLOGIA E INOVAÇÃO            -2.07
CIÊNCIAS DA SAÚDE                        -18.41
CIÊNCIAS ODONTOLÓGICAS                     5.22
DESIGN                                   -19.10
ENGENHARIA CIVIL                         -12.92
ENGENHARIA DE SOFTWARE                   -10.29
FILOSOFIA                                 -5.62
GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO   -16.55
dtype: float64

# Criando a tabela

In [40]:
diferenca_2017_2018 = calculo_percentual(cursos_e_anos_pivot.iloc[:,0], cursos_e_anos_pivot.iloc[:,1])
diferenca_2018_2019 = calculo_percentual(cursos_e_anos_pivot.iloc[:,1], cursos_e_anos_pivot.iloc[:,2])
diferenca_2019_2022 = calculo_percentual(cursos_e_anos_pivot.iloc[:,2], cursos_e_anos_pivot.iloc[:,3])

In [41]:
diferencas_percentuais = pd.DataFrame({'2017-2018' : diferenca_2017_2018,
                                       '2018-2019' : diferenca_2018_2019,
                                       '2019-2022' : diferenca_2019_2022})
diferencas_percentuais

                                        2017-2018  2018-2019  2019-2022
Curso
ADMINISTRAÇÃO                               -8.75     -26.94      12.59
ARQUITETURA E URBANISMO                    -13.22      -5.16       4.29
ARTES CÊNICAS                               -1.56     -12.97       5.96
BIOINFORMÁTICA                             -12.60      -4.65      26.14
BIOQUÍMICA                                 -15.26       5.81       1.60
CIÊNCIA E ENGENHARIA DE MATERIAIS           -8.89      -4.83       0.10
CIÊNCIA, TECNOLOGIA E INOVAÇÃO              -2.07     -14.33      -3.26
CIÊNCIAS DA SAÚDE                          -18.41      -8.11      -5.21
CIÊNCIAS ODONTOLÓGICAS                       5.22     -15.98      12.70
DESIGN                                     -19.10       0.16       3.20
ENGENHARIA CIVIL                           -12.92      -4.79      -3.47
ENGENHARIA DE SOFTWARE                     -10.29     -15.08       0.16
FILOSOFIA                                   -5.62     -13.43       7.33
GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO     -16.55      -6.35       4.74

In [44]:
diferencas_percentuais.columns

Index(['Curso', '2017-2018', '2018-2019', '2019-2022'], dtype='object')

In [43]:
diferencas_percentuais.reset_index(inplace = True)
diferencas_percentuais.Curso = diferencas_percentuais.Curso.str.capitalize()
diferencas_percentuais

                                     Curso  2017-2018  2018-2019  2019-2022
0                            Administração      -8.75     -26.94      12.59
1                  Arquitetura e urbanismo     -13.22      -5.16       4.29
2                            Artes cênicas      -1.56     -12.97       5.96
3                           Bioinformática     -12.60      -4.65      26.14
4                               Bioquímica     -15.26       5.81       1.60
5        Ciência e engenharia de materiais      -8.89      -4.83       0.10
6           Ciência, tecnologia e inovação      -2.07     -14.33      -3.26
7                        Ciências da saúde     -18.41      -8.11      -5.21
8                   Ciências odontológicas       5.22     -15.98      12.70
9                                   Design     -19.10       0.16       3.20
10                        Engenharia civil     -12.92      -4.79      -3.47
11                  Engenharia de software     -10.29     -15.08       0.16
12                               Filosofia      -5.62     -13.43       7.33
13  Gestão da informação e do conhecimento     -16.55      -6.35       4.74

## Exportando HTML:

In [46]:
tabela_html = diferencas_percentuais.to_html()
print(tabela_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Curso</th>
      <th>2017-2018</th>
      <th>2018-2019</th>
      <th>2019-2022</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Administração</td>
      <td>-8.75</td>
      <td>-26.94</td>
      <td>12.59</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Arquitetura e urbanismo</td>
      <td>-13.22</td>
      <td>-5.16</td>
      <td>4.29</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Artes cênicas</td>
      <td>-1.56</td>
      <td>-12.97</td>
      <td>5.96</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Bioinformática</td>
      <td>-12.60</td>
      <td>-4.65</td>
      <td>26.14</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Bioquímica</td>
      <td>-15.26</td>
      <td>5.81</td>
      <td>1.60</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Ciência e engenharia de materiais</td>
      <td>-8.89</td>
      <td>-4.83</td>
      <td>0.10</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Ciência, tecnologia e inovação</td>
      <td>-2.07</td>
      <td>-14.33</td>
      <td>-3.26</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Ciências da saúde</td>
      <td>-18.41</td>
      <td>-8.11</td>
      <td>-5.21</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Ciências odontológicas</td>
      <td>5.22</td>
      <td>-15.98</td>
      <td>12.70</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Design</td>
      <td>-19.10</td>
      <td>0.16</td>
      <td>3.20</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Engenharia civil</td>
      <td>-12.92</td>
      <td>-4.79</td>
      <td>-3.47</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Engenharia de software</td>
      <td>-10.29</td>
      <td>-15.08</td>
      <td>0.16</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Filosofia</td>
      <td>-5.62</td>
      <td>-13.43</td>
      <td>7.33</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Gestão da informação e do conhecimento</td>
      <td>-16.55</td>
      <td>-6.35</td>
      <td>4.74</td>
    </tr>
  </tbody>
</table>